/* ==================================================================================== */
/*                                      VARIABLES                                       */
/* ==================================================================================== */

:root{
   --color-people1: rgb(80, 170, 154);
   --color-people2: rgb(145, 224, 225);
   --color-people3: rgb(195, 251, 252);
   --color-parasite1: rgb(147, 36, 28);
   --color-parasite2: rgb(223, 71, 59);
   --color-parasite3: rgb(236, 108, 109);
   --color-environment1: rgb(130, 128, 119);
   --color-environment2: rgb(154, 153, 145);
}

/* ==================================================================================== */
/*                                 General and Portrait                                 */
/* ==================================================================================== */

* {
   font-family: sans-serif;

    padding: 0;
    margin: 0;

    box-sizing: border-box;

    color: white;

    /*background-color: rgba(0, 0, 0, 0.25);*/
}
body{
   display: flex;
   justify-content: center;

   background:
      linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
      linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
      linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
      linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
      linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
      linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
      background-color: #131313;
      background-size: 20px 20px;
}
h1{
   width: 100%;
   text-align: center;
   font-size: 8vw;
   margin: 2vw 0 2vw 0;

   color: white;
}
h2{
   width: 100%;
   text-align: center;
   font-size: 7vw;

   color: rgba(255, 255, 255, 0.9);
}
h3{
   width: 100%;
   text-align: center;
   font-size: 4vw;

   color: rgba(255, 255, 255, 0.8);
}
p{
   width: 100%;
   text-align: justify;
   padding: 0 5vw 0 5vw;
   font-size: 5vw;
}
a{
   text-decoration: none;
   font-weight: bold;
   color: var(--color-people1);
}
button{
    width: 48vmin;
    height: 48vmin;
    border-radius: 50%;
    border: solid;
    border-color: rgb(147, 29, 21);
    background-color: rgb(73, 1, 1);
    border-width: 2vmin;
    outline: none;
    box-shadow: 0 2vw 2vw rgba(0,0,0,0.5);
}
.p_alignRight{
   text-align: right;
}
.container{
   display: flex;
   flex-direction: column;

   background:
      radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color: rgb(42, 48, 55);
      background-size:16px 16px;

   box-shadow: 0 2vw 2vw rgba(0,0,0,0.5);
}
#logo img{
   height: 75vw;
   margin: 10vw 10vw 10vw 10vw;
}
#logo img:active{
   padding: 2.5vw 0 2.5vw 0;
}
.section{
   margin: 0 0 30vw 0;
   padding: 5vw 0 5vw 0;

   background-color: rgba(0,0,0,0.5);
   box-shadow: 0 2vw 2vw rgba(0,0,0,0.5);
}
.horContainer{
   display: flex;
   justify-content: center;

   /*background-color: rgba(255, 0, 0, 0.75);*/
}
.vertContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   margin: 0 5vw 5vw 5vw;
   /*background-color: rgba(0, 0, 255, 0.75);*/
}
.buttonContainer{
    display: flex;
    width: 100vmin;
    justify-content: space-around;
}
.avatar{
   height: 30vw;
   width: 30vw;

   border-style: solid;
   border-color: var(--color-people1);
   border-width: 1vw;
   border-radius: 50%;
}
.avatar:active{
   border-width: 0;
}
#screenshots img{
   width: 100%;
   margin-bottom: 5vw;
   box-shadow: 1vw 1vw 1vw 1vw rgba(0,0,0,0.5);
}
#aboutTeam{
   flex-direction: column;
}
#aboutMinigamejam img{
   object-fit: contain;
   width: 50vw;
   margin: 5vw 0 5vw 0;
}
/* ==================================================================================== */
/*                                      Landcape                                        */
/* ==================================================================================== */

@media (min-aspect-ratio: 1/1) {
   h1{font-size: 4vw;}
   h2{font-size: 3.5vw;}
   h3{font-size: 2vw;}
   p{font-size: 2.5vw;}
   .container{
      max-width: 75vw;
   }
   #logo img:hover{
      padding: 12vw 0 12vw 0;
   }
   .avatar{
      opacity: 0.5;
   }
   .avatar:hover{
      opacity: 1;
      border-width: 0;
   }
   #screenshots img{
      opacity: 0.5;
   }
   #screenshots img:hover{
      opacity: 1;
   }
}
